---
import Layout from '../layouts/Layout.astro';
import IntroPresentation from '../components/IntroPresentation.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro'
import Experience from '../components/Experience.astro';
import Proyects from '../components/Proyects.astro'
import SectionContainer from '../components/SectionContainer.astro';
import LaptopIcon from '../components/icons/Laptop.astro';
import CodeIcon from '../components/icons/Code.astro';
---

<Layout title="Porfolio de José Camacho - Desarrollador y Programador Web" description="">
	<main class="px-4">
	<SectionContainer class="py-44" id="sobre-mi">
		<IntroPresentation />
		<nav class="flex gap-4 mt-5 flex-wrap text-white">
			<SocialPill href="https://www.linkedin.com/in/jcodev01/">
				<LinkedinIcon class="size-4 md:size-6" />
				Linkedin
			</SocialPill>
			<SocialPill href="mailto:josc.info@gmail.com">
				<MailIcon class="size-4 md:size-6" />
				josc.info@gmail.com
			</SocialPill>
		</nav>
	</SectionContainer>
	<SectionContainer id="experiencia">
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white">
			<LaptopIcon class="size-8"/>
			Experiencia Laboral
		</h2>
		<Experience />
	</SectionContainer>
	<SectionContainer id="proyectos">
		<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-white">
			<CodeIcon class="size-8"/>
			Proyectos
		</h2>
		<Proyects />
	</SectionContainer>
	</main>
</Layout>

