---
import CompanyIcon from './icons/Company.astro'
import LaptopIcon from './icons/Laptop.astro';

interface Props{
    title:string,
    date:string,
    company:string,
    descriptions:string[],
    link?:string
}

const {title, date, descriptions, link, company} = Astro.props
---
<span class="absolute flex items-center justify-center size-5 bg-blue-100 rounded-full -start-[10px] ring-4 ring-blue-100">
    <LaptopIcon class="size-4 text-blue-800 dark:text-blue-300" />
</span>
<time class="mb-1 ml-2 text-sm font-normal leading-none text-sky-200/80">{date}</time>
<h3 class="text-lg font-semibold text-yellow-200 mt-2">{title}</h3>
<div class="flex gap-x-3 items-center mb-3">
    <CompanyIcon class="size-4 "/>
    <h3 class="text-sm font-thin text-gray-300" >{company}</h3>
</div>
<ul>
    {descriptions.map(description=>{
        return <li><p class="mb-4 text-sm font-normal text-gray-200 text-pretty">{description}</p></li>
    })}
</ul>