---
import ExperienceItem from "./ExperienceItem.astro"
import experiences from '../data/experience.json'

---

<ol class="relative border-s border-gray-20 ml-3">  
    {experiences.map(experiencie=><li class="mb-10 ms-4">
        <ExperienceItem {...experiencie}/>
    </li>)}                
</ol>

